@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root{
--Pale-blue: hsl(225, 100%, 94%);
--bright-blue: hsl(245, 75%, 52%);
--Very-pale-blue: hsl(225, 100%, 98%);
--Desaturated-blue: hsl(224, 23%, 55%);
--Dark-blue: hsl(223, 47%, 23%);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body{
    background-image: url(Images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: var(--Pale-blue);
    font-family: "Red Hat Display", sans-serif;
    font-size: 16px;
   

}

body button{
    font-size: 50px;
    margin: 50px;
    left: 500px;
}
body .credit{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 450px;
    background-color: white;
    color: var(--Desaturated-blue);
    border-radius: 20px;
    overflow: hidden;
    margin: 30px ;
}


.title{
    color:var(--Dark-blue);
    font-weight: 900;
    font-size: 32px;
}


.hero-image{
    width: 100%;
}